@import "tailwindcss";
@import "./font.css";

@theme {
    /* Primary */
    --color-main800: #000000;
    --color-main700: #000000;
    --color-main600: #ff9500;
    --color-main500: #ffbb00;
    --color-main400: #000000;
    --color-main300: #000000;
    --color-main200: #000000;
    --color-main100: #000000;

    /* Gray */
    --color-gray1000: #2f2f2f;
    --color-gray900: #454545;
    --color-gray800: #595959;
    --color-gray700: #727272;
    --color-gray600: #979797;
    --color-gray500: #bfbfbf;
    --color-gray400: #d4d4d4;
    --color-gray300: #e4e4e4;
    --color-gray200: #efefef;
    --color-gray100: #f7f7f7;

    /* Grade */
    --color-bronze: #987c54;
    --color-silver: #a5c2ca;
    --color-gold: #ffcb1f;
    --color-vip: #ff0037;
    --color-vvip: #2f2f2f;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Pretendard-Regular", sans-serif;
    color: var(--color-gray1000);
}
button {
    cursor: pointer;
}

.pretendard-light {
    font-family: "Pretendard-Light", sans-serif;
}
.pretendard-medium {
    font-family: "Pretendard-Medium", sans-serif;
}
.pretendard-regular {
    font-family: "Pretendard-Regular", sans-serif;
}
.pretendard-semibold {
    font-family: "Pretendard-SemiBold", sans-serif;
}
.gmarket-sans {
    font-family: "GmarketSansBold", sans-serif;
    letter-spacing: -0.22em;
}

@layer components {
    .full {
        @apply w-full min-h-full;
    }
    .center {
        @apply flex justify-center items-center;
    }
    .floating-btn {
        @apply absolute flex right-5 w-17 h-17 justify-center items-center rounded-full duration-300;
    }
    .header-btn {
        @apply w-10 h-10 flex justify-center items-center hover:bg-gray100 active:bg-gray100 duration-100 ease-out rounded-lg;
    }
}
